/*------------------------------------------------------------------/*
Theme Name: Natalie
Theme URI: http://az-theme.net/downloads/natalie-a-blog-and-shop-theme/
Description: A Blog and Shop Theme
Author URI: http://az-theme.net
Author: DannyWP
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Version: 5.0.2
Text domain: natalie
Last change:  11/13/2018
Tags: blog, news, holiday, footer-widgets, portfolio, photography, food-and-drink, entertainment
*/
body {
	background-color: #fff;
	color: #424242;
	font-family: "Lora", sans-serif;
	font-size: 14px;
	line-height: 24px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Montserrat", sans-serif;
	font-weight: normal;
	line-height: normal;
	margin: 0 0 15px 0;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
}

h1 {
	font-size: 28px;
}

h2 {
	font-size: 26px;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 22px;
}

h5 {
	font-size: 20px;
}

h6 {
	font-size: 18px;
}

p {
	margin: 0 0 20px 0;
}

img {
	display: inline-block;
	vertical-align: middle;
	max-width: 100%;
	height: auto;
}

a {
	color: #f37e7e;
	text-decoration: none;
	transition: color 0.3s ease 0s, background-color 0.3s ease 0s, border-color 0.3s ease 0s;
	-webkit-transition: color 0.3s ease 0s, background-color 0.3s ease 0s, border-color 0.3s ease 0s;
	-o-transition: color 0.3s ease 0s, background-color 0.3s ease 0s, border-color 0.3s ease 0s;
	outline: none;
}

a:hover, a:focus {
	color: #f37e7e;
	outline: none;
	text-decoration: none;
}

a:active {
	outline: none;
}

body a img {
	transition: all 0.5s ease;
}

body a img:hover {
	opacity: 0.8;
}

iframe, select {
	max-width: 100%;
}

input:focus {
	outline: none
}

input, textarea {
	max-width: 100%;
}

input[type="submit"], button, .button {
	background: #000000 none repeat scroll 0 0;
	border: medium none;
	color: #ffffff;
	font-family: Montserrat;
	font-size: 11px;
	font-weight: normal;
	letter-spacing: 2px;
	line-height: normal;
	padding: 12px 20px;
	text-align: center;
	text-transform: uppercase;
}

.widget_mc4wp_form_widget input[type="submit"] {
	width: 100%;
}

input[type="submit"]:hover {
	background-color: #f37e7e;
}

.widget ul {
	list-style: outside none none;
	margin: 0;
	padding: 0;
}

.widget ul ul {
	padding-left: 15px;
}

.searchform input {
	border: 1px solid #dddddd;
	line-height: 35px;
	padding: 0 5px;
	width: 100%;
}

.widget select {
	width: 100%;
}

/*-------------------------------*/
/*          WORDPRESS CORE
/*-------------------------------*/
.sticky {
}

.screen-reader-text {
	display: none;
}

.gallery-caption {
}

.bypostauthor {
}

.alignnone {
	margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
	display: block;
	margin: 5px auto 5px auto;
}

.alignright {
	float: right;
	margin: 5px 0 20px 20px;
}

.alignleft {
	float: left;
	margin: 5px 20px 20px 0;
}

a img.alignright {
	float: right;
	margin: 5px 0 20px 20px;
}

a img.alignnone {
	margin: 5px 20px 20px 0;
}

a img.alignleft {
	float: left;
	margin: 5px 20px 20px 0;
}

a img.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto
}

.wp-caption {
	max-width: 100%;
	text-align: center;
}

.wp-caption.alignnone {
	margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
	margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
	margin: 5px 0 20px 20px;
}

.wp-caption img {
	border: 0 none;
	height: auto;
	margin: 0;
	max-width: 100%;
	padding: 0;
	width: auto;
}

.wp-caption p.wp-caption-text {
	font-size: inherit;
	font-style: italic;
	color: inherit;
	line-height: 17px;
	margin: 8px 0 0;
}

table, th, td {
	border: 1px solid rgba(0, 0, 0, 0.08);
}

th, td {
	padding: 0.4em;
	text-align: center;
}

table {
	border-collapse: separate;
	border-spacing: 0;
	border: none;
	margin: 0 0 1.6em;
	table-layout: auto;
	width: 100%;
}

th {
	border-width: 0 1px 1px 1px;
}

td {
	border-width: 0 1px 1px 1px;
}

th {
	border-width: 0 1px 1px 0px;
}

td {
	border-width: 0 1px 1px 0px;
}

tbody tr th {
	font-weight: 400;
}

tbody tr:first-child th {
	border-top-width: 1px;
}

tr td:first-child, tr th:first-child {
	border-left-width: 1px;
}

table tbody tr:first-child td,
table thead tr:first-child th,
table tbody tr:first-child td,
table thead tr:first-child th {
	border-top-width: 1px;
}

table thead + tbody tr:first-child td,
table thead + tbody tr:first-child td,
table tfoot + tbody tr:first-child td {
	border-top-width: 0;
}

blockquote {
	border-left: 5px solid #000000;
}

label {
	font-weight: 500;
}

dt, dd {
	line-height: inherit;
}

/*------------------------------------------------------------*/
#site-name {
	padding-bottom: 60px;
	padding-top: 50px;
	text-align: center;
}

#site-name a {
	font-family: Dancing Script;
	font-size: 100px;
}

/*--- Menu ---*/
#nav-wrapper {
	background: #f9f9f9 none repeat scroll 0 0;
	border-bottom: 1px solid #eeeeee;
	border-top: 1px solid #eeeeee;
	margin-bottom: 50px;
	position: relative;
}

.togole-mainmenu {
	display: none;
}

#menu-topbar-menu {
	padding: 0;
	text-align: center;
}

#nav-wrapper ul {
	list-style: outside none none;
	margin: 0;
}

#nav-wrapper .azmenu > li {
	display: inline-block;
	margin-right: 20px;
}

#nav-wrapper .azmenu a {
	color: #000;
	display: block;
	font-family: Montserrat;
	font-size: 11px;
	letter-spacing: 2px;
	line-height: 50px;
	text-transform: uppercase;
}

#nav-wrapper .azmenu .current-menu-item > a,
#nav-wrapper .azmenu a:hover {
	color: #f37e7e;
}

#nav-wrapper .menu-item-has-children {
	position: relative;
	z-index: 20;
}

#nav-wrapper .sub-menu {
	background: #f9f9f9;
	left: 0;
	margin: 0;
	min-width: 230px;
	padding: 0;
	position: absolute;
	text-align: left;
	top: 100%;
	opacity: 0;
	transform: translateY(50px);
	-webkit-transform: translateY(50px);
	-moz-transform: translateY(50px);
	transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	visibility: hidden;
}

#nav-wrapper .sub-menu .sub-menu {
	left: 100%;
	top: 0;
}

#nav-wrapper .sub-menu li {
	display: block;
}

#nav-wrapper .azmenu .sub-menu a {
	color: #333;
	border-top: 1px solid #eee;
	display: block;
	font-size: 10px;
	line-height: 40px;
	letter-spacing: 1px;
	padding: 0 15px;
	transition: none 0s ease 0s;
	-webkit-transition: none 0s ease 0s;
	-moz-transition: none 0s ease 0s;
	width: 100%;
	position: relative;
}

#nav-wrapper .azmenu .sub-menu a .caret {
	border-style: solid;
	border-width: 4px;
	border-color: transparent transparent transparent #666;
	display: inline-block;
	height: 0;
	right: 15px;
	vertical-align: middle;
	width: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
}

#nav-wrapper .sub-menu a:hover {
	background: #f9f9f9;
	color: #f37e7e;
}

/*----- FEATURED SLIDER -----*/
.featured-area {
	margin-bottom: 50px;
	max-height: 600px;
	overflow: hidden;
}

.slider .slide-item {
	background-size: cover;
	min-height: 600px;
	position: relative;
}

.slider .slide-item-text {
	background: #ffffff none repeat scroll 0 0;
	max-width: 400px;
	overflow: hidden;
	padding: 50px 60px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
}

.slide-item .post-excerpt {
	color: #555555;
	line-height: 30px;
	margin-top: 15px;
	text-align: justify;
}

.slider .owl-controls .owl-dots {
	bottom: 80px;
	left: 50%;
	position: absolute;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
}

.slider .owl-controls .owl-dot {
	background: #fff none repeat scroll 0 0;
	border-radius: 50%;
	display: inline-block;
	height: 12px;
	margin: 0 5px;
	width: 12px;
}

.slider .owl-controls .owl-dot.active {
	background-color: #f37e7e;
}

.slide-item .post-title a {
	color: #333333;
	font-size: 20px;
	text-transform: uppercase;
}

.slider .owl-nav > div {
	display: inline-block;
	position: absolute;
	right: 30px;
	bottom: 30px;
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	background-color: rgba(0, 0, 0, 0.3);
	color: #ffffff;
	margin: 0 2px;
	font-size: 18px;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}

.slider .owl-nav > div.owl-prev {
	right: 75px;
}

.slider .owl-nav > div.owl-next {
	right: 30px;
}

.slider .owl-nav > div:hover {
	background-color: #f37e7e;
}

.slide-content {
	border-radius: 2px;
	bottom: 30px;
	left: 30px;
	position: absolute;
}

.slide-content .post-cats {
	margin: 0;
}

.slide-content .post-cats > a {
	color: #fff;
}

.slide-content .post-title {
	position: relative;
	margin: 0;
}

.slide-content .post-title > a {
	color: #fff;
}

.slide-content .post-meta .post-date time {
	border: 1px solid #fff;
	color: #fff;
	font-size: 11px;
	padding: 3px 7px;
	text-transform: uppercase;
}

.slide-content .post-meta .socials li a {
	color: #fff;
}

/*----- POST -----*/
.post {
	border-bottom: 1px solid #eee;
	margin-bottom: 50px;
}

.single-post-content {
	border-bottom: none;
}

.post .post-content {
	padding: 20px 0 35px;
}

.post .post-cats {
	text-align: center;
	margin: 0;
}

.post-cats > a {
	color: #f37e7e;
	font-family: Montserrat;
	font-size: 10px;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.post .post-title {
	font-size: 20px;
	letter-spacing: 2px;
	margin: 0 0 5px;
	position: relative;
	text-align: center;
	text-transform: uppercase;
}

.post .post-title > a, .slide-content .post-title > a {
	color: #000;
	text-decoration: none;
}

.single-post-content .post-excerpt {
	margin-bottom: 50px;
	margin-top: 20px;
	overflow: hidden;
}

.slide-content .post-title > a {
	color: #fff;
}

.post a:hover, .post-meta a {
	color: #f37e7e;
}

.post .post-meta {
	text-align: center;
}

.post-meta a {
	margin: 0 10px;
}

.post .post-meta .post-date,
.post .post-meta .socials,
.slide-content .post-meta .post-date,
.slide-content .post-meta .socials {
	display: inline-block;
	margin: 0;
}

.post .post-meta .post-date {
	margin: 0 0 20px;
	padding: 0;
	text-align: center;
}

.post .post-meta .post-date time {
	color: #888888;
	font-size: 11px;
	letter-spacing: 1px;
	padding: 3px 7px;
	text-transform: capitalize;
}

.post .post-meta .socials, .slide-content .post-meta .socials {
	list-style: outside none none;
	margin: 0 0 0 15px;
	padding: 0;
}

.post .post-meta .socials li, .slide-content .post-meta .socials li {
	display: inline-block;
	margin-right: 15px;
}

.post .post-meta .socials li a, .slide-content .post-meta .socials li a {
	color: #888888;
	font-size: 13px;
	text-decoration: none;
}

.post .post-meta .socials li a:hover {
	color: #f37e7e;
}

.post .post-except {
	margin: 30px 0;
}

.post .link-more {
	border-bottom: 1px solid #f37e7e;
	color: #000;
	display: inline-block;
	font-family: Montserrat;
	font-size: 10px;
	font-weight: normal;
	letter-spacing: 2px;
	line-height: 30px;
	position: relative;
	text-transform: uppercase;
}

.post .link-more:hover {
	color: #f37e7e;
}

.post .readmore {
	text-align: center;
	margin-bottom: 10px;
}

.post-format {
	text-align: center;
}

/*----- WIDGET -----*/
.widget {
	margin-bottom: 50px;
}

.widget-title {
	border: 1px solid #f37e7e;
	color: #000;
	font-size: 12px;
	letter-spacing: 2px;
	margin-bottom: 30px;
	overflow: hidden;
	padding-bottom: 15px;
	padding-top: 15px;
	position: relative;
	text-align: center;
	text-transform: uppercase;
}

.widget > ul {
	padding: 0;
	margin: 0;
}

.widget a:hover {
	color: #f37e7e;
}

/*----- WIDGET ABOUT ME -----*/
.about-img {
	margin-bottom: 20px;
}

.about-title {
	color: #000;
	font-size: 10px;
	font-weight: bold;
	letter-spacing: 2px;
	text-align: center;
	text-transform: uppercase;
}

.widget_about_me p {
	margin: 0;
	text-align: center;
}

/*----- WIDGET SOCIALS -----*/
.social-widget {
	text-align: center;
}

.social-widget > a {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	border: 1px solid #dddddd;
	border-radius: 30px;
	color: #aaaaaa;
	display: inline-block;
	font-size: 13px;
	height: 30px;
	line-height: 30px;
	margin: 0 5px 10px;
	text-align: center;
	width: 30px;
}

.social-widget > a:last-child {
	margin-right: 0;
}

/*----- WIDGET LATEST POSTS -----*/
.latest-post li, .widget_categories ul li {
	border-bottom: 1px dashed #ebebeb;
	display: inline-block;
	line-height: 45px;
	width: 100%;
}

.latest-post li:last-child, .widget_categories li:last-child {
	border-bottom: none;
	padding-bottom: 0;
}

.latest-post li .post-image {
	float: left;
	margin-right: 10px;
}

.latest-post li .post-image img {
	width: 100%;
}

.latest-post li .post-item-text {
	overflow: hidden;
}

.latest-post .post-item-text h4 {
	line-height: 15px;
	margin-bottom: 0;
}

.latest-post .post-item-text h4 a {
	color: #333333;
	font-size: 13px;
}

.latest-post .post-item-text h4 a:hover {
	color: #f37e7e;
}

.latest-post .post-item-text .post-meta, .post-meta a {
	color: #999;
	font-style: italic;
	line-height: normal;
}

.latest-post .post-item-text .post-meta {
	margin: 0;
	padding: 0;
}

.latest-post .post-item-text .post-meta:hover {
	color: #f37e7e;
}

.latest-post li {
	margin-bottom: 15px;
	padding-bottom: 15px;
}

/*--- Single Post ---*/
.az-post-tags {
	margin-bottom: 50px;
}

.single-post-footer .post-time.pull-left {
	padding-right: 0;
}

.post-footer.single-post-footer {
	border: 1px dashed #eeeeee;
	margin-bottom: 50px;
	padding: 15px;
	text-align: center;
}

.single-post-footer .post-time.pull-left {
	border: medium none;
}

.single-post-footer .social-share a {
	background: #999999 none repeat scroll 0 0;
	border-radius: 30px;
	color: #ffffff;
	display: inline-block;
	height: 30px;
	line-height: 30px;
	margin: 0 10px;
	width: 30px;
}

.post-footer > div {
	display: inline;
}

.single-post-footer .social-share a:hover, .social-widget > a:hover {
	background-color: #f37e7e;
	color: #fff;
	border-color: transparent;
}

.post-footer.single-post-footer::before {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}

/*----- COMMENTS -----*/
#reply-title {
	font-size: 20px;
	letter-spacing: 2px;
	text-transform: uppercase;
}

#comments .comment-list {
	margin-bottom: 50px;
	padding: 0;
}

#comments ol.comment-list, #comments .comment > ol.children {
	list-style: none;
}

.comment-list .comment-body {
	border-bottom: 1px dashed #e9e9e9;
	margin-bottom: 30px;
	padding: 25px 25px 25px 0;
}

.comment-body .comment-author {
	float: left;
	margin-right: 22px;
}

.comment-body .comment-author img {
	max-width: 70px
}

.comment-body .comment-content {
	overflow: hidden;
}

.comment-body .comment-content .author-name {
	color: #333333;
	display: inline-block;
	font-size: 11px;
	letter-spacing: 1px;
	margin-bottom: 0;
	margin-right: 20px;
	text-transform: uppercase;
}

.comment-body .comment-content .author-name a {
	color: inherit;
}

.comment-body .date-comment {
	font-size: 12px;
	color: #999999;
}

.comment-body .date-comment a {
	color: inherit;
}

.comment-body .comment-content .reply {
	float: right;
}

.comment-body .comment-content .reply a {
	background: #eeeeee none repeat scroll 0 0;
	border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	color: #111111;
	font-size: 10px;
	font-weight: normal;
	letter-spacing: 0.75px;
	margin-left: 10px;
	padding: 5px 10px;
}

.comment-body .comment-content .reply a:hover {
	text-decoration: none;
}

.comment-body .comment-content .comment-text {
	letter-spacing: 0.75px;
	margin-top: 10px;
}

.comment-body .comment-content .comment-text p {
	margin-bottom: 10px;
	color: #666;
}

#commentform .input-form, #commentform .textarea-form {
	border: 1px solid #eeeeee;
	line-height: 35px;
	margin-bottom: 30px;
	padding: 0 5px;
	width: 100%;
}

textarea#message {
	min-height: 150px;
}

#cancel-comment-reply-link {
	font-size: 18px;
	margin-left: 15px;
}

.wpcf7-form .wpcf7-text, .wpcf7-form .wpcf7-textarea {
	border: 1px solid #ddd;
	color: #666666;
	line-height: 35px;
	min-width: 50%;
	padding: 0 5px;
}

/* --- Author Box --- */
.az-post-author {
	margin-bottom: 50px;
}

.az-post-author .author-content {
	text-align: left;
}

.az-post-author .author-content .author-title > a {
	color: #111111;
}

.az-post-author .author-content .author-social {
	color: #888888;
	margin-right: 10px;
}

.author-content > p {
	margin-bottom: 10px;
}

/* --- Posts related --- */
.post-related, #comments, #respond {
	margin-bottom: 50px;
	text-align: left;
}

.post-related .post-title {
	margin: 10px 0 0;
	text-align: center;
}

.post-related time {
	display: inline-block;
	text-align: center;
	width: 100%;
}

.post-related .like-post {
	text-align: center;
}

/* -- Page -- */
.az-page .post-title.page-title {
	font-size: 20px;
	margin: 25px 0;
}

.az-page {
	background: #ffffff none repeat scroll 0 0;
	overflow: hidden;
}

.az-page-thumbnail {
	margin-bottom: 20px;
}

/* ----- ARCHIVE BOX -----*/
.archive-box {
	background-attachment: fixed;
	background-position: center center;
	background-size: cover;
	color: #ffffff;
	margin-bottom: 60px;
	min-height: 250px;
	position: relative;
}

.archive-box .bg-overlay {
	background: #000000 none repeat scroll 0 0;
	height: 100%;
	left: 0;
	opacity: 0.5;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;
}

.archive-box .content-text {
	border: 1px solid rgba(255, 255, 255, 0.5);
	font-family: Montserrat;
	left: 50%;
	padding: 10px 30px;
	position: absolute;
	text-transform: uppercase;
	top: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	white-space: nowrap;
	z-index: 2;
}

.portfolio-cats .filter {
	display: block;
	text-align: center;
}

.archive-box .content-text span, .archive-box .content-text h4 {
	color: #ffffff;
	display: inline-block;
	font-size: 18px;
	font-weight: normal;
	letter-spacing: 2px;
	margin: 0;
}


/*----- WIDGET CATEGORIES -----*/
.widget_categories li {
	color: #999999;
	text-align: right;
}

.latest-post li, .widget_categories ul li, .widget_recent_comments li, .widget_meta li {
	border-bottom: 1px dashed #ebebeb;
	display: inline-block;
	line-height: 45px;
	width: 100%;
}

.widget li:last-child {
	border-bottom: none;
}

.widget_categories ul li a {
	color: #333333;
	float: left;
	font-size: 13px;
	letter-spacing: 0.5px;
}

.widget_categories ul li a:hover {
	color: #f37e7e
}

/*--- TAGCLOUD ---*/
.tagcloud a, .az-post-tags a {
	border: 1px solid #eeeeee;
	color: #242424;
	display: inline-block;
	font-family: Montserrat;
	font-size: 10px !important;
	letter-spacing: 2px;
	margin: 0 2px 5px;
	padding: 0 10px;
	text-align: center;
	text-transform: uppercase;
}

.az-blog-standard .az-post-tags {
	margin: 10px 0 0;
	text-align: center;
}

.az-blog-standard .az-post-tags > a {
	border: medium none;
	color: #999999;
	font-style: italic;
	margin: 0;
	padding: 0;
	text-transform: none;
}

/*--- NAV MENU ---*/
.widget_nav_menu a, .widget_pages a {
	border-bottom: 1px dashed #eeeeee;
	color: #333333;
	display: block;
	font-family: Montserrat;
	font-size: 11px;
	line-height: 40px;
	text-transform: uppercase;
}

/*--- ABOUT WIDGET ---*/
.widget_about_me .about-widget {
	text-align: center;
}

.widget_mc4wp_form_widget {
	text-align: center;
}

.widget_mc4wp_form_widget .mc4wp-form {
	background: #f5f5f5;
	padding: 20px;
}

.widget_mc4wp_form_widget input[type="email"] {
	line-height: 35px;
	padding: 0 5px;
	border: 1px solid #ddd;
	width: 100%;
	text-align: center;
}

/*--- Mailchimp widget ---*/
.widget_mc4wp_form_widget .mc4wp-form label {
	font-style: italic;
	font-weight: normal;
	margin-bottom: 10px;
	text-align: center;
}

.widget_mc4wp_form_widget .mc-submit {
	margin: 0;
}

#sidebar .instagram-pics {
	padding: 0;
	margin: 0 -6px;
	list-style: none;
}

#sidebar .instagram-pics li {
	display: inline-block;
	margin: 0 0 6px;
	padding: 0 3px;
	width: 33.3333%;
}

/* --- CATEGORIES IMAGES WIDGET --- */
.natalie-categories-image .category-item {
	margin-bottom: 30px;
	position: relative;
}

.natalie-categories-image .category-item a {
	background: #fff none repeat scroll 0 0;
	color: #000;
	font-family: Montserrat;
	font-size: 11px;
	left: 50%;
	letter-spacing: 2px;
	line-height: 0;
	min-width: 120px;
	padding: 20px 30px;
	position: absolute;
	text-align: center;
	text-transform: uppercase;
	top: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
}

.natalie-categories-image .category-item a:hover {
	color: #fff;
	background-color: #000;
}

/*----- FOOTER -----*/
#footer {
	color: #ffffff;
	margin-top: 30px;
	overflow: hidden;
	text-align: center;
}

#footer .instagram-footer {
	float: left;
	margin-top: -1px;
	position: relative;
	width: 100%;
	z-index: 5;
}

#footer .null-instagram-feed {
	background: #222 none repeat scroll 0 0;
	border: medium none;
	margin: 0;
	padding: 0;
}

#footer .null-instagram-feed .widget-title {
	display: none;
}

.instagram-footer .instagram-pics {
	margin: 0;
	padding: 0;
}

.instagram-footer .instagram-pics li {
	display: inline-block;
	margin: 0;
	padding: 0;
}

#footer .instagram-footer .clear {
	margin: 10px 0 0;
}

.copyright > p {
	margin: 0;
}

.social-footer {
	background: #222222 none repeat scroll 0 0;
	display: table;
	float: left;
	margin: 0;
	overflow: hidden;
	position: relative;
	width: 100%;
	z-index: 10;
}

.social-footer a {
	color: #ffffff;
	display: table-cell;
	font-family: Montserrat;
	font-size: 10px;
	letter-spacing: 3px;
	line-height: normal;
	margin: 0;
	padding: 13px 0;
	text-transform: uppercase;
}

.social-footer a:hover {
	color: #f37e7e;
}

.social-footer a:hover > i {
	border-color: #f37e7e;
}

.social-footer a i {
	border: 2px solid #fff;
	border-radius: 50%;
	display: inline-block;
	font-size: 12px;
	height: 30px;
	letter-spacing: 0;
	line-height: 26px;
	text-align: center;
	width: 30px;
}

.social-footer a:nth-child(2n) {
	background: #2a2a2a none repeat scroll 0 0;
}

.copyright {
	background: #222 none repeat scroll 0 0;
	color: #fff;
	float: left;
	font-family: Montserrat;
	font-size: 10px;
	font-weight: 400;
	letter-spacing: 2px;
	padding: 15px 0;
	text-transform: uppercase;
	width: 100%;
}

/** UPDATE CSS **/
.az-blog-grid {
	margin: 0 -15px;
	overflow: hidden;
}

.az-blog-grid .post {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	border: medium none;
	float: left;
	padding: 0 15px;
}

.az-blog-grid .slider .slide-item {
	min-height: inherit;
}

.az-blog-grid .slider .owl-controls .owl-dots {
	bottom: 20px;
}

.az-blog-grid .post .post-title {
	line-height: normal;
}

.az-blog-grid .post .post-title a {
	font-size: 16px;
}

/** Blog Grid 2 columns */
.az-blog-grid2columns .post:nth-child(2n+1) {
	clear: both;
}

.az-blog-grid2columns .post {
	width: 50%;
}

/** Blog Grid 3 columns */
.az-blog-grid3columns .post:nth-child(3n+1) {
	clear: both;
}

.az-blog-grid3columns .post {
	width: 33.3333%;
}

/** PromoBox */
.az-promo-box {
	border-bottom: 1px solid #ddd;
	margin-bottom: 50px;
}

.az-promo-box .az-probox-item {
	background-size: cover;
	margin-bottom: 50px;
	min-height: 247px;
	position: relative;
	text-align: center;
}

.az-promo-box .az-probox-item .az-item-link {
	background: #ffffff none repeat scroll 0 0;
	color: #000;
	font-family: Montserrat;
	font-size: 11px;
	left: 50%;
	letter-spacing: 2px;
	line-height: normal;
	min-width: 150px;
	padding: 13px 30px;
	position: absolute;
	text-transform: uppercase;
	top: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	z-index: 5;
}

.az-promo-box .az-probox-item .az-item-link:hover {
	background-color: #000;
	color: #fff;
}

.az-probox-item .bgoverlay {
	background: #000000 none repeat scroll 0 0;
	height: 100%;
	opacity: 0.2;
	position: absolute;
	width: 100%;
}

.az-probox-item::after {
	border: 1px solid #ffffff;
	bottom: 20px;
	content: "";
	left: 20px;
	opacity: 0.5;
	position: absolute;
	right: 20px;
	top: 20px;
}

/* ----- PAGINATION -----*/
.natalie-pagination {
	margin: 20px 0 80px;
	overflow: hidden;
	text-align: center;
}

.natalie-pagination .page-numbers {
	background: #ffffff none repeat scroll 0 0;
	border: 1px solid #eeeeee;
	color: #000;
	display: inline-block;
	font-family: inherit;
	height: 40px;
	line-height: 40px;
	margin: 0 5px;
	padding: 0;
	text-align: center;
	width: 40px;
}

.natalie-pagination .page-numbers:hover, .natalie-pagination .page-numbers.current {
	background-color: #f37e7e;
	color: #fff;
	border-color: transparent;
}

.az-pagination {
	border: 1px dashed #ddd;
	margin: 50px 0;
	padding: 20px;
}

.az-pagination .newer {
	text-align: right;
}

.az-pagination a {
	color: #000;
	font-family: Montserrat;
	font-size: 11px;
	letter-spacing: 2px;
	text-transform: uppercase;
}

/* --- TOPBAR MENU --- */

.topbar-menu {
	list-style: outside none none;
	margin: 0;
	padding: 0;
}

.topbar-menu > li {
	display: inline;
	margin-right: 20px;
}

.topbar .social a {
	color: #000;
	margin: 0 0 0 20px;
}

.topbar-menu li a:hover, .topbar .social a:hover {
	color: #f37e7e;
}

/** UPDATED 16-01-2018 */
.blog-list .post {
	overflow: hidden;
	padding-bottom: 50px;
}

.blog-list .post-format {
	width: 370px;
	float: left;
	margin-right: 30px;
}

.blog-list .post-info {
	margin-top: 50px;
}

.post .slider .slide-item {
	min-height: inherit;
}

.post .slider .owl-controls .owl-dots {
	bottom: 30px;
}

/** UPDATED 23-01-2018 PORTFOLIO */
.natalie-portfolio .hentry .entry-inner {
	margin-bottom: 30px;
	position: relative;
	border-radius: 6px;
	overflow: hidden;
}

.natalie-portfolio .hentry .entry-inner:before {
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	background-color: #f37e7e;
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 7;
	transition: all 0.5s;
}

.natalie-portfolio .hentry .entry-inner .entry-thumbnail {
	z-index: 6;
}

.natalie-portfolio .hentry .entry-inner .entry-thumbnail img {
	width: 100%;
	height: auto;
}

.natalie-portfolio .hentry .entry-inner .entry-meta {
	z-index: 8;
	text-align: center;
	display: block;
	width: 100%;
	position: absolute;
	left: 0;
	top: 60%;
	transform: translateY(-50%);
	opacity: 0;
	padding: 0 30px;
	color: #ffffff;
	transition: all 0.5s;
}

.natalie-portfolio .hentry .entry-inner .entry-meta .entry-title {
	font-size: 24px;
	font-weight: 700;
}

.natalie-portfolio .hentry .entry-inner .entry-meta .entry-cats {
	font-size: 14px;
	font-weight: 700;
}

.natalie-portfolio .hentry .entry-inner .entry-meta a {
	color: #ffffff;
}

.natalie-portfolio .hentry .entry-inner:hover:before {
	opacity: .9;
}

.natalie-portfolio .hentry .entry-inner:hover .entry-meta {
	top: 50%;
	opacity: 1;
}

.portfolio-single .entry-meta {
	text-align: center;
	margin: 40px 0;
}

.portfolio-single .entry-meta .entry-title {
	font-size: 30px;
	font-weight: 700;
}

.portfolio-single .entry-meta .entry-cats {
	font-size: 18px;
	font-weight: 700;
}

.portfolio-single .az-pagination {
	overflow: hidden;
}

/* ---------- WOO ---------- */
.woocommerce ul.products li.product .woocommerce-loop-category__title, .woocommerce ul.products li.product .woocommerce-loop-product__title, .woocommerce ul.products li.product h3 {
	font-size: 12px;
	color: #000;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.woocommerce ul.products li.product .price {
	color: #747474;
}

.woocommerce ul.products li.product .button {
	font-weight: 400;
	font-size: 12px;
}

.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
	text-align: center;
}

.woocommerce ul.products li.product .onsale, .woocommerce span.onsale {
	background-color: #000;
}

.woocommerce div.product form.cart .button {
	background: #000;
	font-weight: normal;
	font-size: 12px;
	padding: 9px 20px;
}

.woocommerce div.product p.price, .woocommerce div.product span.price {
	color: #000;
}

.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {
	background-color: #000;
}

.woocommerce .products .star-rating {
	display: block;
	margin: 0 0 .5em;
	float: none;
	left: 50%;
	transform: translateX(-50%);
}

#coupon_code {
	width: 120px;
}


@media (min-width: 768px) and (max-width: 991px) {
	.az-blog-grid .post {
		width: 50%
	}

	.az-blog-grid .post:nth-child(2n+1) {
		clear: both;
	}

	.az-blog-grid3columns .post:nth-child(3n+1) {
		clear: none;
	}
}

@media (min-width: 768px) {
	#menu-topbar-menu {
		display: block !important;
	}

	#nav-wrapper .azmenu .menu-item-has-children:hover > .sub-menu {
		visibility: visible;
		opacity: 1;
		transform: translateY(0);
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
	}
}

@media (max-width: 767px) {
	.togole-mainmenu {
		color: #000;
		display: inline-block;
		font-size: 20px;
		line-height: 50px;
		padding: 0 15px;
	}

	#nav-wrapper #menu-topbar-menu {
		border: 0 none;
		display: none;
		left: 0;
		margin: 0;
		padding: 0 15px;
		position: absolute;
		top: 100%;
		width: 100%;
		z-index: 20;
	}

	#nav-wrapper .azmenu li {
		background: #111;
		display: inline-block;
		float: left;
		line-height: inherit;
		margin: 0;
		text-align: left;
		width: 100%;
	}

	#nav-wrapper .azmenu li a {
		background: #111111 none repeat scroll 0 0;
		border: medium none;
		color: #888888;
		display: inline-block;
		line-height: 40px;
		padding-left: 15px;
		width: 100%;
	}

	#nav-wrapper .azmenu .sub-menu a {
		border-color: transparent;
	}

	#nav-wrapper .azmenu li a:hover {
		background: #222;
	}

	#nav-wrapper .azmenu .menu-item-has-children > a {
		position: relative;
	}

	#nav-wrapper .sub-menu {
		background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
		display: none;
		left: inherit;
		opacity: 1;
		padding-left: 15px;
		position: inherit;
		top: inherit;
		transform: none;
		-webkit-transform: none;
		-moz-transform: none;
		visibility: inherit;
	}

	#nav-wrapper .azmenu .caret::after {
		content: "\f107";
	}

	#nav-wrapper .sub-menu .dropdown > a .caret::after {
		content: "\f107";
	}

	#nav-wrapper .azmenu .dropdown-toggle .caret, #nav-wrapper .sub-menu .dropdown > a .caret {
		border: medium none;
		height: 30px;
		padding: 5px;
		width: 30px;
	}

	#nav-wrapper .sub-menu .dropdown > a .caret {
		right: 0;
	}

	#nav-wrapper .azmenu .dropdown-toggle .caret::after {
		color: #888888;
		text-align: center;
		top: 50%;
		transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
	}

	#nav-wrapper .azmenu .caret::after {
		content: "\f107";
		font-family: "FontAwesome";
		font-size: 15px;
		left: inherit;
		position: absolute;
		top: 50%;
		transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
	}

	#nav-wrapper .sub-menu .sub-menu {
		border: medium none;
		left: 0;
		position: relative;
		top: 0;
	}

	#nav-wrapper .sub-menu .dropdown > a .caret::after {
		content: "\f107";
	}

	.topbar-menu.pull-left, .topbar .pull-right {
		text-align: center;
		width: 100%;
	}

	.social-footer a .text {
		display: none;
	}

	.az-blog-grid .post {
		width: 100%
	}

	.featured-area {
		max-height: 400px;
	}

	.slider .slide-item {
		min-height: 400px;
	}

	.blog-list .post-info {
		clear: both;
		padding: 20px 0 0;
	}
}

@media (max-width: 480px) {
	.slider .slide-item-text {
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
		right: inherit;
	}
}

@media (max-width: 360px) {
	.slider .slide-item-text {
		width: 250px;
	}
}

/* OpenCart Code */
.owl-carousel {
	margin: 0 0 20px;
	background: #fff;
	direction: ltr !important;
	z-index: 1;
	position: relative;
}
.owl-carousel .owl-item img {
	display: block;
	width: auto !important;
}
.owl-stage-outer{
	border: 4px solid #fff;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 4px rgba(0,0,0,.2);
	-o-box-shadow: 0 1px 4px rgba(0,0,0,.2);
	box-shadow: 0 1px 4px rgba(0,0,0,.2);
}
.owl-carousel .owl-nav div {
	opacity: 0;
	color: rgba(0,0,0,0.8);
	text-shadow: 1px 1px 0 rgba(255,255,255,0.3);
	transition: all .3s ease;
	top: 50%;
	position: absolute;
}
.owl-carousel:hover .owl-nav div {
	opacity: 0.7;
}
.owl-carousel .owl-nav .owl-prev {
	left: 10px;
}
.owl-carousel .owl-nav .owl-next {
	right: 10px;
}
.owl-carousel .owl-nav div i {
	font-size: 40px;
	margin: -20px 0 0;
}
.owl-dots {
	text-align: center;
	top: 20px;
	position: relative;
}
.owl-dots .owl-dot {
	display: inline-block;
	margin: 0px 6px;
}
.owl-dots .owl-dot span {
	display: block;
	width: 11px;
	height: 11px;
	background: rgba(0, 0, 0, 0.5);
	border-radius: 20px;
	box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
}
.owl-dots .owl-dot.active span {
	background: rgba(0, 0, 0, 0.9);
}


.blog-posts-item {
	margin: 20px 0;
	padding: 20px 0;
	border-top: 1px solid #eee;
}

#comments .comment-item .comment-reply {
	color: #337ab7;
	text-decoration: none;
	border-bottom: 1px dotted #337ab7;
	cursor: pointer;
}

#comments .margin {
	margin-left: 40px;
}

#comments .comment-item .comment-item .comment-item .comment-item .comment-item .margin {
	margin-left: 0;
}

/*-------------------------------------*/

.topbar {
	background: #f9f9f9 none repeat scroll 0 0;
	overflow: hidden;
}

.topbar-menu li a, ul.navbar-nav li.navbar a {
	color: #000;
	font-family: Montserrat;
	font-size: 11px;
	letter-spacing: 1px;
}

.navbar {
margin-bottom: 0!important;
min-height: 40px!important;
}

.navbar-nav li a, .navbar-nav li form button {
color: #000;
font-family: Montserrat, sans-serif;
font-size: 11px;
letter-spacing: 1px;
}

.navbar-nav > li > a {
line-height: 10px;
}


.navbar-nav li a:hover, .topbar .social a:hover, .navbar-nav li form button:hover {
	color: #f37e7e!important;
}

.my-top-menu, .my-top-menu li.navbar {
	margin-bottom: 0;
	border: 0;
}
.active, .navbar-default .navbar-nav > .active > a {
	background-color: #F8F8F8!important;
}

.navbar-nav li form button {
	text-transform: none;
}

.navbar-nav li form .btn-link:hover, .navbar-nav li form .btn-link:focus {
	text-decoration: none;
}

button,
button:active,
button:focus {
	outline: none;
}

.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button {
	font-size: 100%;
	margin: 0;
	line-height: 1;
	cursor: pointer;
	position: relative;
	text-decoration: none;
	overflow: visible;
	padding: .618em 0.9em;
	font-weight: 700;
	border-radius: 3px;
	left: auto;
	color: #515151;
	background-color: #ebe9eb;
	border: 0;
	display: inline-block;
	background-image: none;
	box-shadow: none;
	text-shadow: none;
}

.woocommerce #respond input#submit:hover, .woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover {
	background-color: #dad8da;
	text-decoration: none;
	background-image: none;
	color: #515151;
}

.product-grid, .product-list {
	margin-bottom: 2em;
}

.product-list .product-thumb .image {
	float: left;
	padding: 0 15px;
}

#button-cart.single_add_to_cart_button {
	background: #000;
	font-weight: normal;
	font-size: 12px;
	padding: 9px 20px;
	color: #fff!important;
	-webkit-font-smoothing: antialiased;
}

.thumbnails {
	overflow: auto;
	clear: both;
	list-style: none;
	padding: 0;
	margin: 0;
}
.thumbnails > li {
	margin-left: 20px;
}
.thumbnails {
	margin-left: -20px;
}
.thumbnails > img {
	width: 100%;
}
.image-additional a {
	margin-bottom: 20px;
	padding: 5px;
	display: block;
	border: 1px solid #ddd;
}
.image-additional {
	max-width: 78px;
}
.thumbnails .image-additional {
	float: left;
	margin-left: 20px;
}

li.price {
	font-weight: 700;
	color: #000;
	font-size: 1.25em;

}